
input{
    background-color: lightgray;
    border-color: grey;
    background-image: url(loop4.png);
    background-repeat: no-repeat;
    background-position: 7px 5px;
    background-size:5%;
    border-radius: 50px;
    display: flex;
    width: 350px;
    max-width: 100%;
    height: 26px;
    padding-left: 30px;

}

.searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

nav a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

nav :hover{
    cursor: pointer;
    text-decoration: underline;
    color: black;   
}

body{
    background-color: lightgrey;
}

img {
    position: absolute;
    top: 25%;
    left: 38%;
    margin-top: 10px;
}

.left a,
.right a {
    text-decoration: none;
    color: black;
    margin-right: 10px;
}

.left a:hover,
.right a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.left {
    color: black;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    text-decoration: none;
}

.right {
    color: black;
    padding: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    text-decoration: none;
}
