<!DOCTYPE html>
<html>
<head>
    <title>Layout Example</title>
    <link rel="stylesheet" href="style03.css">
</head>
<body>
    <header>
        <h1>Bjorn Grotenhuis</h1>
    </header>
    <nav>
        <ul>
            <li><a href="layout.html" class="button">Home</a></li>
            <li><a href="hobbies.html" class="button">Hobbies</a></li>
            <li><a href="werk.html" class="button">Werk</a></li>
            <li><a href="contact.html" class="button">Contact</a></li>
        </ul>
    </nav>

    <main>
        <section>
            <h2>Hobbies</h2>
            <table>
            <thead>
                <tr>
                    <th>Hobbies</th>
                    <th>Beschrijving</th>
               </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Freerunnen</td>
                    <td>Ik beoefen Freerunnen nu ongeveer 4 jaar en ben 2.5 jaar daarvan ook docent binnen het Freerunnen.</td>
                </tr>
                <tr>
                    <td>Programeren</td>
                    <td>Ik Volg nu de opleiding software developer omdat ik het tijdens mijn vorige opleiding (ICT helpdesk medewerker) het leuk vond om dingen te progameren zoals een voice assistance met python.</td>
                </tr>
                <tr>
                    <td>Games</td>
                    <td>In mijn vrije tijd vind ik het leuk om met mijn vrienden te praten en Gameste spelen.</td>
                </tr>
            </tbody>
            </table>
        </section>
        <section>
            <video autoplay loop muted>
                <source src="parkour.mp4">
            </video>
            <h1>Freerunnen</h1>
        <p>Freerunning, ook wel bekend als parkour, is een discipline waarbij je op een efficiente en creatieve manier door stedelijke omgevingen of andere obstakels beweegt met behulp van acrobatiek, atletisch vermogen en ruimtelijk bewustzijn. Het wordt gekenmerkt door vloeiende bewegingen, sprongen, salto's en andere indrukwekkende manoeuvres. Freerunners gebruiken vaak de omgeving om hen heen op inventieve manieren, zoals het overklimmen van hekken, het beklimmen van muren of het springen tussen gebouwen. Het is zowel een sport als een kunstvorm, waarbij zelfexpressie en persoonlijke stijl in beweging centraal staan</p>

        </section>
        <section>
            <h1>progameren</h1>
            <p>Ik volg nu de opleiding software developer omdat ik het leuk vind om met progameer projecten bezig te zijn zoals het ontwerpen en bouwen van een website: <span class="link" onclick="window.open('http://home.parkourapeldoorn.nl')">home.parkourapeldoorn.nl</span> en heb bouwen van een voice assistance.</p>
        
        </section>
        <section>
            <h1>Games</h1>
            <p>De laatste tijd speel ik meerdere spellen zoals: The last of us part 1/2, Factorio en rainbow six siege.</p>
            <img src="thelastofus.jpg">
            <img src="thelastofus2.jpg">
            <img src="factorio.jpg" height="225px">
            <img src="siege.jpg" height="225px">
        </section>
    </main>
    <br>
    <br>
    
    <footer class="footer">
        <p id="lastUpdated"></p>
    </footer>
    <script src="script.js"></script>
</body>
</html>