body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}
nav {
    background-color: #555;
    color: #fff;
    text-align: center;
}
nav ul {
    padding: 10px;
    list-style-type: none;
    display: flex; 
}
nav li {
    margin-right: 15px; 
    background-color: lightslategray;
    margin: 10px;
    padding: 10px;
    border-radius: 10%;
}
nav li:hover{
    margin-right: 15px; 
    background-color: gray;
    margin: 10px;
    padding: 10px;
    border-radius: 10%;
}
nav a {
    text-decoration: none;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
}
main {
    padding: 20px;
}
section,
div {
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 5px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

td{
    padding: 10px;
}

.link{
    font-weight: bold;
    cursor: pointer;
    color: black;
}

video{
    float: right;
    width:19%;
    height: auto;
    border-radius: 20%; 
}

.bordered{
        border: 2px solid black; 
    }


